build/*
dadi_cli.egg-info/*
dist/*
examples/snakepipe/.snakemake/*
examples/snakepipe/*/1KG.*
examples/snakepipe/results/*
*/.DS_Store
*__pycache__*
.coverage
tests/test_results/
wq-factory-*
.terraform.lock.hcl
.terraform/
ssh-key
ssh-key.pub
terraform.tfstate
terraform.tfstate.backup
