name: build

on: [push, pull_request]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9"]
      max-parallel: 5

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Add micromamba to system path
      uses: mamba-org/provision-with-micromamba@main
      with: 
        environment-name: dadi-cli
        activate-environment: dadi-cli
        environment-file: conda-env.yml
    - name: Test with pytest
      run: |
        micromamba run -n dadi-cli pytest --cov=. --cov-report term-missing -vv
        micromamba run -n dadi-cli coverage xml
    - name: upload coverage report to codecov
      uses: codecov/codecov-action@v3
      with:
          name: codecov-umbrella
          fail_ci_if_error: true
          env_vars: OS,PYTHON
